@{
    ViewData["Title"] = "Jake's Hobby";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Jake's Hobby Site</h1>
    <p>
        Jake's current hobby of choice is Playing Minecraft.
        <br>
        We hope you enjoy learning more about Jake as you read about one of his hobbies.
    </p>

    <h3>Hobby screenshots</h3>
    <img src="~/images/Survival_World1.png" height="400" id="imgGand" />
    <p>The Capitol City</p>
    <img src="~/images/Survival_World2.png" height="400" id="imgGand" />
    <p>The Castle</p>
    <img src="~/images/Survival_World3.png" height="400" id="imgGand" />
    <p>The Farms (Currently a Work in Progress)</p>

    <h3>Hobby Explanation</h3>
    <p style="text-align:left">
        &emsp;This Minecraft hobby has been really fun to engage in.
        It has been fun to think about the progress that the world has been through to
        get it to where it is today. There was initially a small village on top of the mountain
        and nothing else around it.
        <br><br>
        &emsp;Even more fun than creating this world and playing the game as a hobby is to share that time with my wife.
        We have created villages, brought villagers into those villages, expanded, added means for fast and
        convenient transportation, upgraded gear, traded, explored, etc. All with the excitement and bonding that
        can come with playing a game and building together in a virtual space.
        <br><br>
        &emsp;As time goes on, we will continue to build and expand our kingdom and connect other outlying villages to the
        main capitol city. Movies are fun and TV shows are good too, but my hobby of choice, especially in the virtual sphere
        is playing a good game of Minecraft. If you would ever like to learn more about my hobby or get some training on 
        the art of Minecraft city planning, building, and expansion, please visit the <a asp-area="" asp-controller="Home" asp-action="HobbyServices">hobby services</a>
        page for pricing.
    </p>  
</div>
